<div class="header-main">
  <div class="header-main-inner">

    <div class="{{ _layout_class }}">
      <div class="table-row">

        <div class="navbar navbar-responsive-menu d-lg-none">
          <div class="responsive-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
        
        {% include 'header-mobile-cart-icon' %}
        {% include 'header-logo' %}
        {% include 'header-horizontal-menu' %}
        {% include 'header-switcher' %}
        {% include 'header-icons' %}
      </div>
    </div>

  </div>
</div>
