<div id="shopify-section-1600941026513" class="shopify-section">

    <div class="section-separator section-separator-1600941026513 layout-boxed  separator-mt-50 separator-mb-25" style="background: #fafafa;">
      <div class="separator-content container">
      
        
    
    <div class="separator-heading-line">
                  <h2><span>FOLLOW US ON SOCIAL</span></h2>
                  <span class="separator-subtext" style="font-size: 12px;">@BulkBeefJerky #BulkBeefJerky #BulkFam</span>
                </div>
        
              
    
          <style type="text/css">    
              .section-separator-1600941026513 h2 {
                font-size: 25px;
                color: #222222;
              }
              .section-separator-1600941026513 .separator-subtext {
                font-size: 25px;
                color: #222222;
              }
              .section-separator-1600941026513 .separator-sub-line {
                border-color: #222222;
              }
              .section-separator-1600941026513 .separator-heading-line.side-line h2:before,
              .section-separator-1600941026513 .separator-heading-line.side-line h2:after {
                border-color: #222222;
              }
          </style>
        
      
      </div>
    </div>
    
    
    <div style="clear:both"></div></div>
<div id="insta-feed"></div>